[ng-cloak] {
  display: none;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgba(56, 110, 247, 0.03);
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto;
}

#toolBar {
  background-color: #2e5ab4;
}

#shareButton {
  background-color:#e89776;
}

#masterHeader {
  font-family: 'Permanent Marker', cursive;
}
/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}

md-list .md-button.selected {
  color: #03a9f4;
}

md-sidenav md-list {
  padding: 0px 0px 8px 0px;
}

/* Primary content area */

#content {
  overflow: hidden;
}

#content {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content .md-button.share {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 25px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.share > md-icon {
  fill: black;
  width: 36px;
  height: 36px;
}

#sidebar{
  padding-left: 80px;
  padding-right: 0px;
  padding-top: 5px;
  background-image:url("image1.gif") ;
  background-repeat: no-repeat;
}

.md-toolbar-tools md-input-container .md-errors-spacer{
  min-height: 0px !important;
}

md-button.menuBtn > md-icon {
  fill: white;
  width: 24px;
  height: 24px;
}

#content .md-button.share:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding: 4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom: 0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform: scale(0.70);
}

md-bottom-sheet md-icon {
  margin-right: 20px;
}

span.name {
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 5px;
}

.carddemoBasicUsage .card-media {
  background-color: #999999; }

.gridListdemoBasicUsage md-grid-list {
  margin: 8px; }

.gridListdemoBasicUsage .gray {
  background: #f5f5f5; }

.gridListdemoBasicUsage .green {
  background: #b9f6ca; }

.gridListdemoBasicUsage .yellow {
  background: #ffff8d; }

.gridListdemoBasicUsage .blue {
  background: #84ffff; }

.gridListdemoBasicUsage .purple {
  background: #b388ff; }

.gridListdemoBasicUsage .red {
  background: #ff8a80; }

.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms; }


.flex {
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  box-sizing: border-box;
}

.layout-row .flex-30 {
  -webkit-flex: 1 1 calc(100% / 3);
  -ms-flex: 1 1 calc(100% / 3);
  flex: 1 1 calc(100% / 3);
  box-sizing: border-box;
  background-color: rgba(54, 106, 232, 0.05);
}

.layout-row  .flex-60 {
  -webkit-flex: 1 1 calc(200% / 3);
  -ms-flex: 1 1 calc(200% / 3);
  flex: 1 1 calc(200% / 3);
  box-sizing: border-box;
  background-color: rgba(54, 106, 232, 0.05);
;

}

.md-button.md-raised.md-cornered.search {
  font-size: 15px;
  margin: 40px 0;
  padding: 3px 15px 3px 15px;
  color: rgb(250, 248, 255);
  background-color: #2e5ab4;
  text-transform: none;
  font-weight: 900;
  min-width:200px;
}

.md-button.md-raised.md-cornered.search:not([disabled]):hover {
  background-color: #3e66b4;
  color: rgb(250, 248, 255);
  transition: 0.3s;
}

#searchCardHead {
  color: #2e5ab4;
}

.md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
  color: #2e5ab4;
  background: #2e5ab4;
}

.md-padding {
  background-color: rgba(54, 106, 232, 0.03);
}

md-input-container > md-select {
  margin-top: 28px;
}

.formHeader {
  color: #2e5ab4;
}

md-checkbox.md-checked.blue .md-icon {
  background-color: #2e5ab4;
}

.md-button.md-raised.md-cornered.search.sign-in {
  margin-top: 10px;
}

