<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <title>Angular Material - Starter App</title>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <link rel="stylesheet" href="./jspm_packages/github/angular/bower-material@master/angular-material.css"/>
  <link rel="stylesheet" href="./assets/app.css"/>
</head>

<body ng-cloak layout="column" ng-controller="AppController as app">

  <!-- Container #1 (see wireframe) -->
  <md-toolbar layout="row" class="md-toolbar-tools" id = "toolBar">
  </md-toolbar>

  <!-- Container #2 -->

  <div flex layout="row" layout-wrap layout-padding layout-margin layout-fill>
    <div flex="60">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Flights">
          <md-content class="md-padding">
            <div flex layout="row" layout-wrap layout-padding layout-margin layout-fill>
              <div flex="40">
                <md-autocomplete id="origin"
                                 ng-disabled="app.isDisabled"
                                 md-no-cache="app.noCache"
                                 md-selected-item="app.selectedItemOrigin"
                                 md-search-text-change="app.searchTextChange(app.searchText)"
                                 md-search-text="app.searchTextOrigin"
                                 md-selected-item-change="app.selectedItemChange(item)"
                                 md-items="item in app.querySearch(app.searchTextOrigin)"
                                 md-item-text="item.display"
                                 md-min-length="0"
                                 placeholder="Origin">
                  <md-item-template>
                    <span md-highlight-text="app.searchText" md-highlight-flags="^i">{{item.display}}</span>
                  </md-item-template>
                  <md-not-found>
                    No states matching "{{app.searchText}}" were found.
                    <a ng-click="app.newState(app.searchText)">Create a new one!</a>
                  </md-not-found>
                </md-autocomplete>
              </div>
              <div flex="40">
                <md-autocomplete id="destination"
                                 ng-disabled="app.isDisabled"
                                 md-no-cache="app.noCache"
                                 md-selected-item="app.selectedItemDestination"
                                 md-search-text-change="app.searchTextChange(app.searchText)"
                                 md-search-text="app.searchTextDestination"
                                 md-selected-item-change="app.selectedItemChange(item)"
                                 md-items="item in app.querySearch(app.searchTextDestination)"
                                 md-item-text="item.display"
                                 md-min-length="0"
                                 placeholder="Destination">
                  <md-item-template>
                    <span md-highlight-text="app.searchText" md-highlight-flags="^i">{{item.display}}</span>
                  </md-item-template>
                  <md-not-found>
                    No states matching "{{app.searchText}}" were found.
                    <a ng-click="app.newState(app.searchText)">Create a new one!</a>
                  </md-not-found>
                </md-autocomplete>
              </div>
              <div flex="25">
                <md-input-container>
                  <md-datepicker ng-model="app.fromDate" md-placeholder="Departing"></md-datepicker>
                </md-input-container>
              </div>
              <div flex=25>
                <md-input-container>
                  <md-datepicker ng-model="app.toDate" md-placeholder="Returning"></md-datepicker>
                </md-input-container>
              </div>
              <div flex=20>
                <md-input-container>
                  <label>Adults</label>
                  <md-select ng-model="app.passengerAdults">
                    <md-option ng-repeat="adult in app.appceptableAdutlPassengers" ng-value="adult">
                      {{adult}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div flex=20>
                <md-input-container>
                  <label>Children</label>
                  <md-select ng-model="app.passengerKids">
                    <md-option ng-repeat="adult in app.appceptableAdutlPassengers" ng-value="adult">
                      {{adult}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div flex=70>
                <md-button class="md-raised md-cornered search" ng-click="app.executeSearch()">Search Flights</md-button>
              </div>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Hotels">
          <md-content class="md-padding">
            <div flex layout="row" layout-wrap layout-padding layout-margin layout-fill>
              <div flex="80">
                <md-autocomplete id="originHotel"
                                 ng-disabled="app.isDisabled"
                                 md-no-cache="app.noCache"
                                 md-selected-item="app.selectedItemOrigin"
                                 md-search-text-change="app.searchTextChange(app.searchText)"
                                 md-search-text="app.searchTextOrigin"
                                 md-selected-item-change="app.selectedItemChange(item)"
                                 md-items="item in app.querySearch(app.searchTextOrigin)"
                                 md-item-text="item.display"
                                 md-min-length="0"
                                 placeholder="Going to">
                  <md-item-template>
                    <span md-highlight-text="app.searchText" md-highlight-flags="^i">{{item.display}}</span>
                  </md-item-template>
                  <md-not-found>
                    No states matching "{{app.searchText}}" were found.
                    <a ng-click="app.newState(app.searchText)">Create a new one!</a>
                  </md-not-found>
                </md-autocomplete>
              </div>
              <div flex="25">
                <md-input-container>
                  <md-datepicker ng-model="app.fromDate" md-placeholder="Check-in"></md-datepicker>
                </md-input-container>
              </div>
              <div flex=25>
                <md-input-container>
                  <md-datepicker ng-model="app.toDate" md-placeholder="Check-out"></md-datepicker>
                </md-input-container>
              </div>
              <div flex=20>
                <md-input-container class="passengers">
                  <label>Adults</label>
                  <md-select ng-model="app.passengerAdults">
                    <md-option ng-repeat="adult in app.appceptableAdutlPassengers" ng-value="adult">
                      {{adult}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div flex=20>
                <md-input-container>
                  <label>Children</label>
                  <md-select ng-model="app.passengerKids">
                    <md-option ng-repeat="adult in app.appceptableAdutlPassengers" ng-value="adult">
                      {{adult}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div flex=70>
                <md-button class="md-raised md-cornered search" ng-click="app.executeSearch()">Search Hotels</md-button>
              </div>
            </div>
          </md-content>
        </md-tab>
      </md-tabs>
    </div>
    <div flex="30">
      <md-tabs md-dynamic-height md-border-bottom>
        <div ng-if="app.getLoggedInUser() == ''">
          <md-tab label="Sign In">
            <md-content class="md-padding">
              <form>
                <table>
                  <tr>
                    <td>
                      <md-input-container class="md-block" flex-gt-sm>
                        <input type="email" ng-model="app.user.userName" placeholder="Email Address">
                      </md-input-container>
                    </td>
                    <td>
                      <md-input-container class="md-block" flex-gt-sm>
                        <input type="password" ng-model="app.user.password" placeholder="Password">
                      </md-input-container>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <md-button class="md-raised md-cornered search sign-in" ng-click="app.signIn()">Sign In</md-button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <md-button class="md-raised md-cornered search" ng-href="#registrationForm" target="_self" ng-click="app.showForm('#registrationForm')">Register</md-button>
                    </td>
                  </tr>
                </table>
              </form>
              </md-content>
            </md-tab>
          <md-tab label="Social Media Sign In">
            <md-content class="md-padding">
              <form action="/signin/facebook" method="POST">
                <table>
                  <tr>
                    <td colspan="2">
                      <md-button type = "submit" class="md-raised md-cornered search">Sign In with Facebook</md-button>
                    </td>
                  </tr>
                </table>
              </form>
            </md-content>
          </md-tab>
        </div>
        <div ng-if="app.getLoggedInUser() != ''">
          <md-tab label="Logged In User">
            <md-content class="md-padding">
              <h2>Welcome {{app.getLoggedInUser()}}</h2>
              <form>
                <table>
                  <tr>
                    <td colspan="2">
                      <md-button class="md-raised md-cornered search sign-in" ng-click="app.signOut()">Sign Out</md-button>
                    </td>
                  </tr>
                </table>
              </form>
            </md-content>
          </md-tab>
        </div>
      </md-tabs>
    </div>
    <div flex="60">
      <div id = "registrationForm" ng-show="app.isFormVisible" flex="90">
        <h2 class="formHeader">Contact Details</h2>
        <form>
          <table>
            <tr>
              <td>
                <md-input-container class="md-block" flex-gt-sm>
                  <input type="text" ng-model="app.user.firstName" placeholder="First Name">
                </md-input-container>
              </td>
              <td>
                <md-input-container class="md-block" flex-gt-sm>
                  <input type="text" ng-model="app.user.middleName" placeholder="Middle Name">
                </md-input-container>
              </td>
              <td>
                <md-input-container class="md-block" flex-gt-sm>
                  <input type="text" ng-model="app.user.lastName" placeholder="Last Name">
                </md-input-container>
              </td>
            </tr>
            <tr>
              <td>
                <md-input-container class="md-block" flex-gt-sm>
                  <input type="email" ng-model="app.user.mailId" placeholder="Email Address">
                </md-input-container>
              </td>
              <td>
                <md-input-container class="md-block" flex-gt-sm>
                  <input type="password" ng-model="app.user.password" placeholder="Password">
                </md-input-container>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <md-input-container class="md-block" flex-gt-sm>
                  <input type="text" ng-model="app.user.address" placeholder="Address">
                </md-input-container>
              </td>
            </tr>
            <tr>
              <td>
                <md-input-container class="md-block" flex-gt-sm>
                  <input type="text" ng-model="app.user.postalCode" placeholder="Postal Code">
                </md-input-container>
              </td>
              <td>
                <md-input-container class="md-block" flex-gt-sm>
                  <input type="text" ng-model="app.user.city" placeholder="City">
                </md-input-container>
              </td>
              <td>
                <md-input-container class="md-block" flex-gt-sm>
                  <input type="text" ng-model="app.user.state" placeholder="State">
                </md-input-container>
              </td>
              <td>
                <md-input-container class="md-block" flex-gt-sm>
                  <input type="text" ng-model="app.user.country" placeholder="Country">
                </md-input-container>
              </td>
            </tr>
            <tr>
            <tr>
              <td colspan="2">
                <h2 class="formHeader">Personal Details</h2>
                <h4 class="formHeader">Check Whatever You Like</h4>
              </td>
            </tr>
            <tr>
              <td>
                <md-checkbox ng-model="app.user.music" class="blue" aria-label="Music">
                  Music
                </md-checkbox>
              </td>
              <td>
                <md-checkbox ng-model="app.user.sport" class="blue" aria-label="Sports">
                  Sports
                </md-checkbox>
              </td>
              <td>
                <md-checkbox ng-model="app.user.movies" class="blue" aria-label="Movies">
                  Movies
                </md-checkbox>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <md-button class="md-raised md-cornered search" ng-click="app.submitRegistrationForm()">Register</md-button>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
    <div flex="30">
    </div>
  </div>

  <script src="./jspm_packages/system.js" type="text/javascript"></script>
  <script src="config.js" type="text/javascript"></script>
  <script type="text/javascript">
    System
        .import('src/boot/boot')
        .catch( console.error.bind(console) ); // make sure any errors print to console
  </script>

</body>
</html>
