<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <title>Angular Material - Starter App</title>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <link rel="stylesheet" href="./jspm_packages/github/angular/bower-material@master/angular-material.css"/>
  <link rel="stylesheet" href="./assets/app.css"/>
</head>

<body ng-cloak layout="column" ng-controller="AppController as app">

  <!-- Container #1 (see wireframe) -->
  <md-toolbar layout="row" class="md-toolbar-tools" id = "toolBar">
  </md-toolbar>

  <

  <!-- Container #2 -->

  <div flex layout="row" layout-wrap>
    <div flex="33" flex id="sidebar"></div>
    <!-- Container #3 -->



    <!-- Container #4 -->
    <div flex="55">
      <md-content flex id="content">

        <div flex id="contentCriteria"></div>
        <!-- Custom UserDetails component -->
        <md-list>
          <md-list-item ng-repeat="offer in app.offers.FareInfo">
            <div flex-xs flex-gt-xs="90" layout="column" layout-align="right">
              <div flex-xs flex-gt-xs="50" layout="column" layout-align="right">
                <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                    <md-card-title>
                      <md-card-title-text>
                        <span class="md-headline">{{offer.LowestFare.AirlineCodes[0]}}</span>
                        <span class="md-subhead" style="color: green">Price: {{offer.LowestFare.Fare}}</span>
                      </md-card-title-text>
                      <md-card-title-media>
                        <div class="md-media-sm card-media"></div>
                      </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                      <md-button  ng-click=" ">View Details</md-button>
                      <md-button class="md-raised md-cornered search" ng-click=" ">Book Flight</md-button>
                    </md-card-actions>
                  </md-card>
                <div flex-xs flex-gt-xs="90" layout="column" layout-align="right">
                </div>
          </md-list-item>
        </md-list>
      </md-content>
    </div>

  </div>

  <script src="./jspm_packages/system.js" type="text/javascript"></script>
  <script src="config.js" type="text/javascript"></script>
  <script type="text/javascript">
    System
        .import('src/boot/boot')
        .catch( console.error.bind(console) ); // make sure any errors print to console
  </script>

</body>
</html>
