<md-list>
    <md-list-item ng-repeat="offer in $ctrl.offers">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{offer.name}}</span>
                        <span class="md-subhead">{{offer.price}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Book</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </md-list-item>
</md-list>
